<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{title}} | {{subTitle}}</title>

<meta name="description" content="">
<meta name="keywords" content="Cartoon Daemon Zhang, CV, resume, ">
<meta name="author" content="palmtale">

<!-- CSS -->
<link href="/lib/bootstreap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen">
<link href="/lib/flaticon/css/flaticon.css" rel="stylesheet" type="text/css" media="screen">
<link href="/lib/hover/css/hover-min.css" property="stylesheet" rel="stylesheet" type="text/css" media="screen">
<link href="/lib/wow/css/animate.css" property="stylesheet" rel="stylesheet" type="text/css" media="screen">
<link href="/lib/magnific-popup/css/magnific-popup.css" property="stylesheet" rel="stylesheet" type="text/css" media="screen">

<!-- Local styles -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen">
<link href="/css/awwwards.css" type="text/css" media="screen" rel="stylesheet">

<style>
    #preloader {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99999;
        width: 100%;
        height: 100%;
        overflow: visible;
        background: #666666 url("/images/preloader.gif") no-repeat center center;
    }
</style>