<section id="top-navigation" class="container-fluid nopadding">
    <div class="row nopadding ident ui-bg-color01">
        <!-- Photo -->
        <a href="#!">
            <div class="col-md-4 vc-photo">&nbsp;</div>
        </a>
        <!-- /Photo -->
        <div class="col-md-8 vc-name nopadding">
            <!-- Name-Position -->
            <div class="row nopadding name">
                <div class="col-md-10 name-title"><h2 class="font-accident-two-light uppercase">Samuel Anderson</h2></div>
                <div class="col-md-2 nopadding name-pdf">
                    <a href="#" class="hvr-sweep-to-right"><i class="flaticon-download149" title="Download CV.pdf"></i></a>
                </div>
            </div>
            <div class="row nopadding position">
                <div class="col-md-10 position-title">

                    <section class="cd-intro">
                        <h4 class="cd-headline clip is-full-width font-accident-two-normal uppercase">
                            <span>The experienced </span>
                            <span class="cd-words-wrapper" style="width: 177px;">
                           <b class="is-hidden">UI/UX Designer</b>
                           <b class="is-visible">Web Designer</b>
                           <b class="is-hidden">Photographer</b>
                        </span>
                        </h4>
                    </section>

                </div>
                <div class="col-md-2 nopadding pdf">
                    <a href="#" class="hvr-sweep-to-right"><i class="flaticon-behance7" title="My Behance Portfolio"></i></a>
                </div>
            </div>
            <!-- /Name-Position -->

            <!-- Main Navigation -->

            <ul id="nav" class="row nopadding cd-side-navigation">
                <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color01">
                    <a href="home.html" class="hvr-sweep-to-bottom"><i class="flaticon-insignia"></i><span>home</span></a>
                </li>
                <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color02">
                    <a href="resume.html" class="hvr-sweep-to-bottom"><i class="flaticon-graduation61"></i><span>resume</span></a>
                </li>
                <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color03">
                    <a href="portfolio.html" class="hvr-sweep-to-bottom"><i class="flaticon-book-bag2"></i><span>portfolio</span></a>
                </li>
                <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color04">
                    <a href="contacts.html" class="hvr-sweep-to-bottom"><i class="flaticon-placeholders4"></i><span>contacts</span></a>
                </li>
                <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color05">
                    <a href="feedback.html" class="hvr-sweep-to-bottom"><i class="flaticon-earphones18"></i><span>feedback</span></a>
                </li>
                <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color06">
                    <a href="blog.html" class="hvr-sweep-to-bottom"><i class="flaticon-pens15"></i><span>blog</span></a>
                </li>
            </ul>

            <!-- /Main Navigation -->

        </div>
    </div>
</section>