<section id="homesection" class="container-fluid nopadding">

    <div class="m-details row nopadding bg-color01">

        <div class="col-md-8 nopadding" style="height: 402px;">
            <div class="padding-50 wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="10">
                <div class="row nopadding">
                    <div class="col-md-12 nopadding">
                        <h3 class="font-accident-two-normal uppercase">About me</h3>
                        <div class="quote">
                            <h5 class="font-accident-one-bold uppercase subtitle">Hard-working person on the way to the success...</h5>
                            <div class="dividewhite1"></div>
                            <!--<p class="small">-->
                            <!--Customize your website as you want using different colors and 100% free fonts.-->
                            <!--</p>-->
                            <div class="dividewhite2"></div>
                        </div>
                    </div>
                </div>
                <div class="divider-dynamic"></div>
                <div class="row nopadding">
                    <div class="col-md-4 infoblock nopadding">
                        <div class="row">
                            <div class="col-sm-1 col-md-3"><i class="flaticon-photo246"></i><div class="dividewhite1"></div></div>
                            <div class="col-sm-11 col-md-9">
                                <h5 class="font-accident-one-bold uppercase">Creative</h5>
                                <p class="small">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet hendrerit dolor, at lacinia mi.
                                </p>
                            </div>
                        </div>
                        <div class="divider-dynamic"></div>
                    </div>
                    <div class="col-md-4 infoblock nopadding">
                        <div class="row">
                            <div class="col-sm-1 col-md-3"><i class="flaticon-stats47"></i><div class="dividewhite1"></div></div>
                            <div class="col-sm-11 col-md-9">
                                <h5 class="font-accident-one-bold uppercase">Motivated</h5>
                                <p class="small">
                                    Curabitur sit amet laoreet leo. Maecenas eget pulvinar arcu. Quisque fermentum nulla non urna placerat.
                                </p>
                            </div>
                        </div>
                        <div class="divider-dynamic"></div>
                    </div>
                    <div class="col-md-4 infoblock nopadding">
                        <div class="row">
                            <div class="col-sm-1 col-md-3"><i class="flaticon-clocks18"></i><div class="dividewhite1"></div></div>
                            <div class="col-sm-11 col-md-9">
                                <h5 class="font-accident-one-bold uppercase">Punctual</h5>
                                <p class="small">
                                    Sed scelerisque elit eget eros consectetur varius. Suspendisse laoreet rhoncus pellentesque.
                                </p>
                            </div>
                        </div>
                        <div class="divider-dynamic"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 personal nopadding ui-block-color01" style="height: 402px;">
            <div class="padding-50 wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
                <h3 class="font-accident-two-normal uppercase">Personal Info</h3>
                <div class="dividewhite3"></div>
                <div>
                    <div class="fullwidth box">
                        <div class="one"><p class="small uppercase">Name:</p></div>
                        <div class="two"><p class="small">Samuel Anderson</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="small uppercase text-nowrap">Date of Birth:</p></div>
                        <div class="two"><p class="small">03/12/1980</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="small uppercase">Address:</p></div>
                        <div class="two"><p class="small">1234, Direct drive, Daytona Beach, Fl, USA</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="small uppercase">Phone:</p></div>
                        <div class="two"><p class="small">1 234 567 89 10</p></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one"><p class="small uppercase">Email:</p></div>
                        <div class="two"><p class="small">james@anderson.com</p></div>
                    </div>
                </div>
                <div class="dividewhite1"></div>
            </div>
        </div>

    </div>

    <div class="row nopadding ui-block-color02">

        <div class="col-md-4 pro-experience nopadding" style="height: 451px;">
            <div class="padding-50 wow fadeInRight" data-wow-delay="0.6s" data-wow-offset="5">
                <h3 class="font-accident-two-normal uppercase">Pro. Experience</h3>
                <div class="dividewhite4"></div>
                <div class="experience">
                    <ul class="">
                        <li class="date">02/2008 - 04/2010</li>
                        <li class="company uppercase">
                            <a>
                                ABC Brodcast Inc. New York.
                            </a>
                        </li>
                        <li class="position">Junior Designer</li>
                    </ul>
                    <ul class="">
                        <li class="date">04/2010 - 06/2012</li>
                        <li class="company uppercase">
                            <a>
                                Leo Burnett London Office
                            </a>
                        </li>
                        <li class="position">Senior Designer</li>
                    </ul>
                    <ul class="">
                        <li class="date">06/2012 - present</li>
                        <li class="company uppercase">
                            <a>
                                Google Inc. Dublin.
                            </a>
                        </li>
                        <li class="position">UI/UX Designer</li>
                    </ul>
                </div>
                <a href="#!" class="btn btn-wh-trans btn-xs">Learn More</a>
                <div class="dividewhite1"></div>
            </div>
        </div>

        <div class="col-md-8 circle-skills nopadding ui-block-color03" style="height: 451px;">
            <div class="padding-50 wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="5">
                <h3 class="font-accident-two-normal uppercase">My Professional skills</h3>
                <div class="dividewhite1"></div>
                <div class="row">
                    <div class="col-sm-4 nopadding">
                        <div class="progressbar" data-animate="false">
                            <div class="circle font-accident-one-normal" data-percent="72.5">
                                <div></div>
                                <h4 class="font-accident-one-normal uppercase">Prototyping</h4>
                                <p class="font-regular-normal">
                                    A prototype is an early sample, model, or release of a product built to test ...
                                </p>
                                <a href="#!" class="btn btn-wh-trans btn-xs">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 nopadding">
                        <div class="progressbar" data-animate="false">
                            <div class="circle font-accident-one-normal" data-percent="94.5">
                                <div></div>
                                <h4 class="font-accident-one-normal uppercase">Design</h4>
                                <p class="font-regular-normal">
                                    Design is the creation of a plan or convention for the construction of an object ...
                                </p>
                                <a href="#!" class="btn btn-wh-trans btn-xs">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 nopadding">
                        <div class="progressbar" data-animate="false">
                            <div class="circle font-accident-one-normal" data-percent="30.5">
                                <div></div>
                                <h4 class="font-accident-one-normal uppercase">Development</h4>
                                <p class="font-regular-normal">
                                    Software development is the process of computer programming ...
                                </p>
                                <a href="#!" class="btn btn-wh-trans btn-xs">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>