<html lang="{{lang_code}}">
    <head>
        {{> before}}
    </head>

    <body class="boxed">

        <header>
            {{>header}}
        </header>

        <!-- Container -->
        <div class="content-wrap">
            {{{@body}}}
        </div>

        <footer class="padding-50 ui-bg-color02">
            {{>footer}}
        </footer>

        {{>after}}
    </body>
</html>